@font-face {
    font-family: 'Cormorant';
    src:local;

}

body {
    font-family: 'Cormorant';
}


.header-container {
    background-image: url(/css/images/wesley-tingey--concrete.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:100px;
    border-radius:3px;
    position:relative;
}

.bauhaus {
    float:left;
    position:absolute;
    width:600px;
    margin: 20px 0px 0px 30px;
    padding:10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
    font-size:2.1rem;
}

.breadcrumbs {
    float:right;
    margin-top: 3.12rem;
    font-size:1.1rem;
    }

.breadcrumbs li {
    height: 100%;
    background-color: white;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    margin-right: 20px;
    padding:5px;
    cursor: pointer;
}

.breadcrumbs li:hover {
    background:black;
    color:white;
}

.breadcrumbs li:active {
    font-style:bold;
}

.lifestyle {
    background-image: url(/css/images/richard-lund-DshGlq55z1U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    flex-wrap: nowrap;
    height:500px;
    border-radius:3px;
    margin:10px;
    display:flex;

}

.text-over {
    margin:auto;
    background-color:black;
    width:100%;
    border-radius:3px;
    color:white;
    text-align: center;
    opacity:.5;
    
}

.rightphoto {
    display:flex;
    justify-content:flex-end;
    flex-wrap: nowrap;
    width:25%;
    align-content:center;
    opacity:.8;
    border-radius:5px;
    padding:30px 10px 30px 10px;
}

.leftphoto {
    display:flex;
    justify-content:start;
    align-content:center;
    flex-wrap: nowrap;
    width:25%;
    padding:20px;
    opacity: 0.8;
    
}


#examples-container {
    text-align:center;
    font-family: cormorant;
    line-height:1.5em;
    padding:5px;

}

.examples {
    background-image: url(/css/images/chris-lawton-3Ik7xWYJv3U-unsplash.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:600px;
    margin:0px 0px;
    border-radius:5px;
}

.kitchen  {
    position:absolute;
    display:flex;
    height:250px;
    width:300px;
    margin-left:29%;
    margin-top: 5%;
}

.florian {
    display:flex;
    position:absolute;
    height:250px;
    width:300px;
    padding: 0% 20px 20px 765px; 
}

.sterlinglewis {
    display:flex;
    position:absolute;
    height:250px;
    width:auto;
    padding: 0px 20px;
}

img {
    border-radius:5px;
    box-shadow: 1px 1px 3px -1px rgb(237, 209, 209);
}


.modernul {
    display:inline-block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    margin:20px;
}


.examples h2 {
    font-style: bold;
    font-size: 2.5rem;
    display:inline-block;
    margin: 50px 150px 50px 0px;
}

 .teamcontainer {
    background-image: url(/css/images/sergey-zolkinteambkgrnd.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:600px;
    width:auto;
    border-radius: 5px;
    margin:5px;

 }

.team img {
    display:flex;
    width:auto;
    height:300px;
    

}

.team {
    display:flex;
    justify-content:space-around;
}

.Jurica {
    margin-top:150px;
}

.Christian {
    margin-top:130px;
}

.Christina {
    margin-top:150px;
}