@font-face {
    font-family: 'Cormorant';
    src:local;

}

body {
    font-family: 'Cormorant';
}


.header-container {
    background-image: url(/css/images/wesley-tingey--concrete.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:100px;
    border-radius:3px;
}

.bauhaus {
    float:left;
    width:600px;
    margin: 20px 0px 0px 30px;
    padding:10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
    font-size:36px;
}

.breadcrumbs {
    float:right;
    margin-top: 50px;
    font-size:18px;
    }

li {
    height: 100%;
    background-color: white;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    margin-right: 20px;
    padding:5px;
    cursor: pointer;
}

.breadcrumbs li:hover {
    background:black;
    color:white;
}

.lifestyle {
    background-image: url(/css/images/richard-lund-DshGlq55z1U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:500px;
    border-radius:3px;
    margin-top:5px;
    display:flex;

}

.text-over {
    margin:auto;
    background-color:black;
    width:100%;
    border-radius:3px;
    color:white;
    text-align: center;
    opacity:.5;
}

.rightphoto {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    width:25%;
    height:80%;
    overflow:hidden;
    opacity:.8;
    border-radius:5px;
}

.leftphoto {
    display:flex;
    flex-direction:column;
    justify-content:start;
    width:25%;
    padding:20px;
    opacity: 0.8;
    
}

